/* Filter menu */

.categories-filter {
	overflow:hidden;
	padding:15px 0;
	list-style-type: none;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.categories-filter li {
	list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
}

.categories-filter li a {
    padding: 5px 10px;
    /*display: inline-block;*/
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    /*color: #0b86c8;*/
    color: #fff;
    text-decoration: none;
    margin: 10px 20px 10px 0;
    font-weight: 700;
    text-transform: uppercase;
    /*background-color: rgba(255,255,255,1);*/
    letter-spacing: 1px;
    border-radius: 3px;
    float: left;
}
.categories-filter li a:hover, .categories-filter li a.current { 
	/*background-color: #262B30;
	color: rgba(255, 255, 255, 1); */
	background-color: #262B30;
	border-bottom: none;
}



/* Images list */
#projects-list {
	overflow:hidden;
	list-style-type: none;
}

#projects-list li {
	list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
	float:left;
	margin-bottom:30px;
}
#projects-list li:hover {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    transition: opacity 0.2s ease-in-out;
}

#projects-list li .single-project-li {
	padding: 10px 30px;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #0875bd;
    letter-spacing: 1px;
    border-radius: 3px;
    float: left;
    border: 2px solid #0875bd;
    width: 200px;
    height: 80px;
}

#projects-list li:hover .single-project-li {
	border: 2px solid white;
}

/* Single project full description */
.project-description {
	color: #fff;
	border-top: 1px solid white;
}

.project-description h2.title {
	margin-bottom:5px;
}

.project-description h5.category {
	margin-bottom: 5px;
}

.project-description ul li{
	color: #fff;
}

/* Misc */
#goBackText {
	text-decoration: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
}
#goBackDiv img {
	height: 70px;
	width: 70px;
	vertical-align:middle;
}
#goBackDiv a:hover {
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    transition: opacity 0.2s ease-in-out;
}
.clear {
	clear: both;
}