/* ========================================================
   skills styling
   ========================================================
*/
.skill {
	font-size: 150%;
	padding: 10px 0px;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}

.skill p {
	margin: 0px;
}

.skill:hover {
	opacity: 0.75;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
}

img.skills-rating {
	height: 20px;
	display: block;
	margin-right: 2em;
}

/* ========================================================
   Filter categories styling
   ========================================================
*/
.categories-filter {
	overflow:hidden;
	list-style-type: none;
	border-top: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	margin: 0;
}
.categories-filter li {
	list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
	padding-bottom: 0px;
}

.categories-filter li a {
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
	background-color: #ccc;
    text-decoration: none;
    margin: 10px 20px 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: left;
}
.categories-filter li a:hover, .categories-filter li a.current { 
	color: #fff !important;
	background-color: #00aad4;
	border-bottom: none;
}
