/* ========================================================
   Homepage styling
   ========================================================
*/
div#homepage-large-logo {
	height: 100%;
	width: 100%;
}
div#homepage-large-logo img {
	height: 99%;
	margin: 0 auto;
}

/* ========================================================
   Footer styling
   ========================================================
*/
#footer-logo {
	height: 1.5em;
	float: left;
}