[submodule "orion"]
	path = projects/orion
	url = git://www.github.com/kaitlinhuben/orion-clearLocalStoragePlugin.git

[submodule "brownian-motion"]
	path = projects/brownian-motion
	url = git://www.github.com/kaitlinhuben/brownian-motion.git

[submodule "alt-z"]
	path = projects/alt-z
	url = git://www.github.com/kaitlinhuben/alt-z.git

[submodule "gesture-video"]
	path = projects/gesture-video
	url = git://www.github.com/kaitlinhuben/gesture-video.git
