---
layout: default
title: Projects
page_title: My Projects
projects_active: true
custom_css: css/projects.css
isotope: js/isotope.js
custom_js: js/isotope-projects.js
---
<div class="row-fluid">
        
	<div class="span12">
	<p>You can use the filters below to check out my projects. They're roughly in reverse chronological order, with the most recent projects first.</p>
	<div id="categories-filter-div">
		<ul class="categories-filter" id="projects-filter">
			<li><a href="" class="current transition" data-filter="*">All</a></li>
			<li><a href="" class="transition" data-filter=".websites">Websites</a></li>
			<li><a href="" class="transition" data-filter=".ecommerce">E-Commerce</a></li>
			<li><a href="" class="transition" data-filter=".hacks">Hacks</a></li>
			<li><a href="" class="transition" data-filter=".class">Class Projects</a></li>
			<li><a href="" class="transition" data-filter=".research">Research</a></li>
		</ul>
		<div class="span12">&nbsp;</div>
		<ul id="projects-list">
		
			{% for project in site.data.projects %}
			<li class="{{project.categories}}">
				<a href="#{{project.link}}"><div class="single-project-li">{{project.name}}</div></a>
			</li>
			{% endfor %}
			
		</ul>
	</div><!-- /#categories-filter-div -->

</div><!-- /.span12 -->
	
</div><!-- /.row-fluid -->

{% for project in site.data.projects %}
<div class="row-fluid project-description">
	<div class="span12" id="{{project.link}}">
		<h2 class="title">{{project.name}}</h2>
		<h3 class="category">{{project.categories}}</h3>
		{{project.description}}
	</div>
</div><!-- /.row-fluid.project-description-->
<div class="row-fluid">
		<div class="span12"><a href="#" class="up-arrow"><img src="img/up.png" alt="Back to top" class="pull-right"/></a></div>
</div>
{% endfor %}