---
layout: default
title: Resume
page_title: My Resume
---
<div class="row-fluid">
		<div class="span6">
			<div class="hero-unit">
				<h2>Download a one-page <a href="{{site.resume_pdf}}">PDF</a> of my resume.</h2>
			</div>
		</div>
		
		<div class="span6">
			<div class="hero-unit">
				<h2>For more information, see my <a href="http://www.linkedin.com/in/kaitlinhuben">LinkedIn</a>.</h2>
			</div>
		</div>

		</div>
	
	<div class="row-fluid resume-links">
		<div class="span4">
			<a href="#education" class="read-more">Education</a>
		</div>
		<div class="span4">
			<a href="#programming" class="read-more">Programming Experience</a>
		</div>
		<div class="span4">
			<a href="#additional" class="read-more">Additional Work Experience</a>
		</div>
	</div>

	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span12">
			<h1 class="resume-category" id="education">Education</h1>
		</div>
	</div>

	{% for entry in site.data.resume_education %}
	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span4">
			<h2 class="resume-title">{{entry.title}}</h2>
		</div>
		<div class="span8">
			<h3 class="resume-place">{{entry.place}} {% if entry.external_link %}<a href="{{entry.external_link}}"><i class="icon-right"></i></a>{% endif %}</h3>
			<h3 class="resume-location">{{entry.location}}</h3>
			<p class="resume-dates">{{entry.dates}}</p>
			<p class="resume-description">{{entry.description}}</p>
		</div>
	</div>
	{% endfor %}
	
	<div class="row-fluid">
		<div class="span12"><a href="#" class="up-arrow"><img src="img/up.png" alt="Back to top" class="pull-right"/></a></div>
	</div>
	
	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span12">
			<h1 class="resume-category" id="programming">Programming Experience</h1>
		</div>
	</div>
	
	{% for entry in site.data.resume_programming %}
	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span4">
			<h2 class="resume-title">{{entry.title}}</h2>
		</div>
		<div class="span8">
			<h3 class="resume-place">{{entry.place}} {% if entry.external_link %}<a href="{{entry.external_link}}"><i class="icon-right"></i></a>{% endif %}</h3>
			<h3 class="resume-location">{{entry.location}}</h3>
			<p class="resume-dates">{{entry.dates}}</p>
			<p class="resume-description">{{entry.description}}</p>
			{% if entry.description2 %}<p class="resume-description">{{entry.description2}}</p> {% endif %}
		</div>
	</div>
	{% endfor %}
	
	<div class="row-fluid">
		<div class="span12"><a href="#" class="up-arrow"><img src="img/up.png" alt="Back to top" class="pull-right"/></a></div>
	</div>
	
	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span12">
			<h1 class="resume-category" id="additional"	>Additional Work Experience</h1>
		</div>
	</div>
	
	{% for entry in site.data.resume_additional %}
	<div class="divider dotted"></div>
	
	<div class="row-fluid">
		<div class="span4">
			<h2 class="resume-title">{{entry.title}}</h2>
		</div>
		<div class="span8">
			<h3 class="resume-place">{{entry.place}} {% if entry.external_link %}<a href="{{entry.external_link}}"><i class="icon-right"></i></a>{% endif %}</h3>
			<h3 class="resume-location">{{entry.location}}</h3>
			<p class="resume-dates">{{entry.dates}}</p>
			<p class="resume-description">{{entry.description}}</p>
			{% if entry.description2 %}<p class="resume-description">{{entry.description2}}</p> {% endif %}
		</div>
	</div>
	{% endfor %}
	
	<div class="row-fluid">
		<div class="span12"><a href="#" class="up-arrow"><img src="img/up.png" alt="Back to top" class="pull-right"/></a></div>
	</div>