---
layout: default
title: Skills
page_title: My Skills
isotope: js/isotope.js
custom_js: js/isotope-skills.js
---
<div class="row-fluid">
	<div class="span12">
		<p>Below is a (mostly) up-to-date list of what I've learned in my tech adventures so far.</p>
		<p>You can use the tabs below to filter by skill type.</p>
	</div>
</div>
		
<div class="row-fluid category-filters">
	<ul class="categories-filter" id="skills-filter">
		<li><a href="" class="current transition" data-filter="*">All</a></li>
		<li><a href="" class="transition" data-filter=".languages">Languages</a></li>
		<li><a href="" class="transition" data-filter=".web">Web Development</a></li>
		<li><a href="" class="transition" data-filter=".os">Operating Systems</a></li>
		<li><a href="" class="transition" data-filter=".frameworks">Frameworks etc.</a></li>
	</ul>
</div>

<div class="pe-spacer size40"></div>

<div class="row-fluid" id="skills-list">

	{% for skill in site.data.skills %}
	<div class="skill {{skill.categories}}">
		<p><span class="skill-name">{{skill.name}}<span></p>
		<p class="skill-ranking">
		{% if skill.level1 or skill.level2 or skill.level3 or skill.level4 or skill.level5%}&#9733;{% else %}&#9734;{% endif %}
		{% if skill.level2 or skill.level3 or skill.level4 or skill.level5%}                &#9733;{% else %}&#9734;{% endif %}
		{% if skill.level3 or skill.level4 or skill.level5%}                                &#9733;{% else %}&#9734;{% endif %}
		{% if skill.level4 or skill.level5%}                                                &#9733;{% else %}&#9734;{% endif %}
		{% if skill.level5%}                                                                &#9733;{% else %}&#9734;{% endif %}
		</p>
	</div>
	{% endfor %}
	
</div>

<div class="pe-spacer size40"></div>
<div class="pe-spacer size40"></div>
<div class="pe-spacer size40"></div>
<div class="pe-spacer size40"></div>
<div class="pe-spacer size40"></div> 	