*, h1, h2, h3, h4, h5, h6, div, span, p {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif; !important
}

a, a:visited {
	color: #599bb3;
	text-decoration: none;
}

a:hover {
	color: #408c99;
}

#starting-page {
	text-align: center;
}

#options {
	margin: 0 auto;
}

#directions {
	display: none;
	text-align: center;
}

#directions-help {
	width: 668px; 
	height: 302px;
	border: 1px solid #408c99;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#gesture-directions {
	display: none;
	text-align: center;
}
#gesture-samples {
	margin: 0 auto;
	border: 1px solid #408c99;
	border-collapse: collapse;
}
#gesture-samples  img{
	width: 125px;
	height: 125px;
}
#gesture-samples td {
	padding-left: 5px;
	padding-right: 5px;
	width: 190px;
}
#row1-images td, #row2-images td{
	border-bottom: 1px solid #408c99;
}
#restart-name, #restart-image, #ratereset-name, #ratereset-image {
	border-right: 1px solid #408c99;
}

#help {
	font-size:12px; 
	position: absolute;
	right: 20px;
}

#content {
	visibility: hidden;
}

#info {
	text-align: center;
}

#content-table {
	margin: 0 auto;
	vertical-align: top;
}
#video {
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}

#gesture-canvas {
	text-align: center;
	vertical-align:top;
}

#myCanvas {
	background-color: #E5F5F2;
	border: 1px solid #408c99;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
}
#player-feedback {
	padding: 5px;
	color: #408c99;
	background-color: #E5F5F2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border: 1px solid #408c99;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
#goToGestureCheatsheet {
	float: right;
	font-weight: normal;
}
#goToGestureCheatsheet:hover {
	cursor: pointer;
}
#gesture-samples-mini {
	margin: 0 auto;
	/*border: 1px solid black;*/
	border-collapse: collapse;
}
#gesture-samples-mini  img{
	width: 50px;
	height: 50px;
}
#gesture-samples-mini td {
	padding-left: 5px;
	padding-right: 5px;
	width: 60px;
}
.button {
	color: #000;
	font-weight: bold;
}