/* Custom css */
body {
	padding-top: 50px;
}


/* Landing */

body.landing {
	background: url('../images/new-york-city-skyline.jpg') no-repeat center center fixed;
	/*background-size: 100%;*/
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

.white-container {
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	background-color: rgba(255, 255, 255, 0.8);
	width: 95%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	padding-top: 50px;
}

div.tagline {
	margin-bottom: 50px;
}

.tagline h1 {
	/*font-family: 'Varela Round', sans-serif;*/
	text-shadow: black 3px 2px 4px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 60px;
	letter-spacing: 4px;
	color: white;
}

.tagline h2 {
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	text-align: center;
	font-size: 28px;
	font-style: italic;
	font-weight: 200;
	color: black;
}

.landing a {
	text-decoration: none;
}
.landing div.left{
	padding-left: 40px;
	height: 125px;
	border-right: 1px solid black;
	padding-right: 10px;
}

.landing div.right {
	margin-right: 40px;
}

.landing input {
	display: inline-block;
	width: 50%;
}

.landing input.input-lg {
	width: 75%;
}

button {
	display: inline-block;
	font-size: small;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px 10px 0px 10px;
}

.landing p {
	font-style: italic;
	font-size: 18px;
}
.landing h3, h4 {
	/*font-family: 'Alegreya Sans SC', sans-serif;*/
	font-style: italic;
	font-weight: bold;
}
#learn-more {
	color: white;
}
#learn-more:hover {
	color: #dedede;
}

footer {
	width: 100%;
	height: 7%;
	background: black;
	position: fixed;
	bottom: 0px;
}

.powered-by-foursquare {
	background-image: url('../images/poweredByFoursquare_white.png');
	background-repeat: no-repeat;
	background-size: 250px;
	background-color: black;
	height: 50px;
}

#footer {
	padding-top: 100px;
	padding-bottom: 20px;
	text-align: center;
	color: #333;
	font-weight: bold;
}

#foursquare-logo {
	height: 30px;
}

#foursquare-logo:hover {
	opacity: 0.75;
}

/* Itinerary view page */
.list-group-item-heading {
	text-transform: uppercase;
}

.view-itinerary .container {
	width: 80%;
}

.view-itinerary h1 {
	text-transform: uppercase;
}

.table-hover tr:hover {
	cursor: pointer;
}

td {
	vertical-align: middle!important;
}

td.icon {
	width: 130px!important;
	border: none!important;
	border-top: 1px transparent solid!important;
	position: relative;
	vertical-align: top!important;
	text-align: center;
}

td.venue {
	padding-top: 30px!important;
	padding-bottom: 30px!important;
	width: 450px;
}

.rating {
	display: inline-block;
	margin-top: 0px;
}

.info {
	display: inline-block;
	padding-left: 10px;
}

td.time {
	width: 400px;
}

.timeChange {
}

.mini-map {
	height: 150px;
	width: 350px;
}

/* Itinerary build page */
.left {
	float: left;
}

.right {
	float: right;
}

.two-thirds {
	width: 60%;
}

.one-third {
	width: 33%;
}

#error-holder {
	display: none;
}

#loading-image {
	height: 300px;
	display: none;
	margin: 0 auto;
}

.itinerary-title-action-group {
	display: block;
}

.itinerary-title-action-group h1 {
	display: inline-block;
}

.caret {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000000;
}

.itinerary-title-action-group button {
	border: none;
	margin-bottom: 15px;
}

.panel-text-info {
	float: left;
	width: 35%;
}

.panel-map {
	float: left;
	width: 150px;
	height: 150px;
}

.panel-search-result:hover {
	background-color: #f7f7f9;
	cursor: pointer;
}

.panel-set-time {
	display: none;
	padding: 20px;
}

.panel-add-button {
	float: right;
	font-weight: bold;
}

.hidden-venue-id {
	display: none;
}

#delete-itinerary {
	color: #d9534f;
	font-weight: 600;
}

#itinerary-content {
	width: 100%;
	border-right: none;
}

#hide-add-venues {
	display: none;
}

#add-venues-content {
	width: 48%;
}

#add-venue-build-controls {
	display: none;
}

#add-venue-error-holder {
	display: none;
}

#clear-search:hover {
	text-decoration: none;
	cursor: pointer;
}
.timeChange, .confirmDelete {
	display: none;
}
.date-picker, .time-picker {
	/*width: 95px;*/
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#builder-controls {
	margin-top: 25px;
}

#search-results {
	height: 800px;
	overflow-y: scroll;
}

.highlight-venue {
	background-color: lightyellow;
}

.timeline {
	width: 5px;
	background-color: black;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 80px;
	z-index: -1;
}

#venue-table-tbody {
	/*border-collapse: separate;*/
}
#venue-table-tbody tr.border {
	border-top: 1px solid #dddddd;
}


h4.list-group-item-heading {
	font-style: normal;
	font-size: 28px;
}

.edit-venue button{
	display: none;
}

.container.wide {
	width: 95%;
}


#sample-itinerary-table tbody td.edit-venue {
	display: none;
}


.tr-date {
	height: 50px;
	position: relative;
	text-align: center;
}

.tr-date h4{
	font-size: 20px;
}


.about {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align:center

}

.about-passages {
	font-size: 22px;
	color: #969696;
}

#itinerary-name {
	margin-top: 20px;
	margin-bottom: 20px;
}


@media (max-width: 1024px) {
	#add-venues-content{
		width: 40%;
	}
	#search-results table img {
		height: 40px;
	}
	.panel-map {
		height: 100px;
		width: 100px;
	}
	.mini-map {
		width: 200px;
	}
}
