<div class="sticky-bar"> 
	<div class="info-bar"> 
		<div class="pe-container"> 
			<div class="row-fluid">
				<div class="span5 tagline">
					&nbsp;
				</div>

				<div class="span7">
					<div>
						<div class="sm-icon-wrap">
							<a href="http://www.twitter.com/kaitlinhuben" data-rel="tooltip" data-position="bottom" data-original-title="Twitter"><i class="icon-twitter-circled"></i></a>
							<a href="http://www.facebook.com/kaitlin.huben" data-rel="tooltip" data-position="bottom" data-original-title="Facebook"><i class="icon-facebook-circled"></i></a>
							<a href="http://www.linkedin.com/in/kaitlinhuben" data-rel="tooltip" data-position="bottom" data-original-title="Linkedin"><i class="icon-linkedin-circled"></i></a>
							<a href="http://www.github.com/kaitlinhuben" data-rel="tooltip" data-position="bottom" data-original-title="GitHub"><i class="icon-github-circled"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div><!--end container-->	
	</div><!--end infobar-->	

	<!--wide wrapper-->
	<div class="menu-bar"> 
		<div class="pe-container"> 
			<header class="row-fluid">
						   
				<!--small logo-->
				<div class="logo span4">
					<a href="index.html" title="Home" ><img src="img/logo-name.png" alt="logo" /></a>
				</div>

				<div class="menu-wrap span8">
					<!--main navigation-->
					
				<!--main menu-->
				<div class="mainNav clearfix">
									
					<!--main nav-->
					<ul class="nav" id="navigation">
						<li class="menu-item"><a href="{{site.about_link}}"></b>ABOUT<span class="subtitle {% if page.about_active %}active{% endif %}"></span></a></li>
						<li class="menu-item"><a href="{{site.resume_link}}">RESUME<span class="subtitle {% if page.resume_active %}active{% endif %}"></span></a></li>
						<li class="menu-item"><a href="{{site.skills_link}}"></b>SKILLS<span class="subtitle {% if page.skills_active %}active{% endif %}"></span></a></li>
						<li class="menu-item"><a href="{{site.projects_link}}">PROJECTS<span class="subtitle {% if page.projects_active %}active{% endif %}"></span></a></li>
						<li class="menu-item"><a href="{{site.contact_link}}">CONTACT<span class="subtitle {% if page.contact_active %}active{% endif %}"></span></a></li>
					</ul>
				</div>


				<!--drop navigation-->
				<div id="drop-nav" class="mobile-nav" data-label="Menu...">
				</div>					</div>

			</header><!-- end header  -->
		</div><!--end container-->	
	</div> <!--end top bar-->
</div><!--end sticky bar-->
