<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="site-wrapper">
		{% include header.html %}
		
		<div class="page-title">
			<div class="pe-container">
				<h1>{{ page.page_title }}</h1>
			</div>
		</div>
		
		<div class="pe-spacer size40"></div>
		
		<div class="pe-container">
			<div class="row-fluid pe-block">
				<section class="row-fluid">
					<div class="span6">
						<div class="alignleft" style="width:200px">
								<a href="#"><img src="img/khuben-headshot.jpg" class="peLazyLoading" data-original="img/khuben-headshot.jpg" width="268" height="237" alt="Kaitlin Huben" /></a>
							</div>
						<p class="intro">I'm a full-stack developer who loves a challenge.</p>
						<p>I'm currently a senior in Columbia University's School of Engineering and Applied Sciences, majoring in Computer Science.</p>
						<p>I have a solid foundation in Java and C, and I've picked up other languages and front-end experience along the way. If there's something I don't <a href="{{site.skills_link}}">know</a> yet, I'm happy to learn it - I enjoy learning about and using new technologies.</p>
						<p>I'm passionate about tackling challenges and developing efficient solutions that are fun for people to use.</p>

						<div class="divider dotted"></div>
					</div>

					<div class="span6">
						<p>You can learn more about <a href="{{site.resume_link}}">where I've been</a>, <a href="{{site.skills_link}}">what I know</a>, and <a href="{{site.projects_link}}">what I've worked on</a>, but here are some quick facts:</p>
						<ul>
							<li>I lived in southern California</li>
							<li>I moved to New York to attend Columbia University</li>
							<li>I'm heading back to California to work at Google after graduation</li>
							<li>I've been a teaching assistant, a research assistant, a tour guide, and a bartender while at Columbia</li>
							<li>I'm a huge fan of animated movies: Finding Nemo, The Incredibles, How to Train Your Dragon, you name it</li>
							<li>I can probably beat you in a round of GameCube Mario Kart Double Dash (even Rainbow Road)</li>
							<li>I love dogs - my family raises puppies for <a href="http://www.cci.org">CCI</a></li>
						</ul>
						<p>If you've got any questions, <a href="{{site.contact_link}}">let me know</a>.</p>
						<div class="divider dotted"></div>
					</div>
				</section><!-- ./row-fluid -->
			</div><!-- ./pe-block -->
		</div><!-- ./pe-container -->

		{% include footer.html %}
	
	</div><!-- ./site-wrapper -->
</body>
</html>
