/* General styles */
.blue {
	color: #357ebd;
}
.green {
	color: #398439;
}
.orange {
	color: #d58512;
}
.teal {
	color: #269abc;
}
.row-container {
	padding-left: 20px;
	padding-right: 20px;
}

/* Homepage styles */
#home-image {
	height: 210px;
	width: 145px;
	float: left;
	border-radius: 6px;
	margin-right: 20px;
}

#homepage-header {
	margin-top: 0px;
}

#why-alt-z {
	padding-top: 75px;
}

.front-content {
	padding-bottom: 20px;
}

/* facts page styles */
#back-to-homepage {
	margin-left: 20px;
}

.fact-title {
	font-weight: bold;
	font-size: 150%;
}

.fact {
	font-size: 150%;
}

.fact-emphasis {
	font-weight: bold;
}

#science-image {
	height: 254px;
	width: 187px;
	float: left;
	border-radius: 6px;
	margin-right: 20px;
}

#facts-header {
	margin-top: 0px;
}

#facts-jumbo {
	min-height: 350px;
}

/* baby page style */
#baby-image {
	height: 151px;
	width: 200px;
	float: left;
	border-radius: 6px;
	margin-right: 20px;
}
#baby-header {
	margin-top: 0px;
}
#galleria {
	height: 400px;
}

/* media llama style */
.image-circle {
	height: 140px;
	width: 140px;
	border-radius: 50%;
}
#meme-image {
	height: 251px;
	width: 167px;
	float: left;
	border-radius: 6px;
	margin-right: 20px;
}
#media-jumbo {
	min-height: 350px;
}
.centered-text {
	text-align: center;
}

/* MOAR LLAMAS style */
#moar-image {
	height: 137px;
	width: 167px;
	float: left;
	border-radius: 6px;
	margin-right: 20px;
}
#moar-header {
	margin-top: 0px;
}
#moar-jumbo {
	min-height: 240px;
}
.links {
	font-size: 150%;
}
.links a {
	color: #269abc;
}

/* why */
.description {
	font-size: 110%;
}